<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!--Patch values for non-local environments to set the data folder and the Unicorn source folder-->
    <sc.variable name="dataFolder" role:require="ContentDelivery or ContentManagement">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>
    
    <!--Unicorn source folder-->
    <!--<sc.variable name="sourceFolder" role:require="ContentManagement">
      <patch:attribute name="value">/Unicorn/src</patch:attribute>
    </sc.variable>        
    
    <sc.variable name="sourceFolder" role:require="Standalone">
      <patch:attribute name="value">C:\Projects\xm-personalise-demo\src</patch:attribute>
    </sc.variable>     -->
      
    <settings>
      <setting name="JavaScriptServices.ViewEngine.Http.JssEditingSecret" role:require="ContentManagement or Standalone or ContentDelivery">
        <patch:attribute name="value">sbgpj9vij08jbxlmyfv2sg7ubzzz6qsu87v061xsr4jbd</patch:attribute>
      </setting>
      

      <!--
        ALLOW LOGOUT OF ALL USERS
            Indicates if the logout screen presents all users or
            just users with the same name
      -->
      <setting name="AllowLogoutOfAllUsers" role:require="ContentManagement or Standalone">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>