<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!--Patch values for non-local environments to set the data folder and the Unicorn source folder-->
    <sc.variable name="dataFolder" role:require="ContentDelivery or ContentManagement">
      <patch:attribute name="value">/App_Data</patch:attribute>
    </sc.variable>
    
    <!--Unicorn source folder-->
    <!--<sc.variable name="sourceFolder" role:require="ContentManagement">
      <patch:attribute name="value">/Unicorn/src</patch:attribute>
    </sc.variable>        
    
    <sc.variable name="sourceFolder" role:require="Standalone">
      <patch:attribute name="value">C:\Projects\xm-personalise-demo\src</patch:attribute>
    </sc.variable>     -->
      
    <settings>
      <setting name="JavaScriptServices.ViewEngine.Http.JssEditingSecret" role:require="ContentManagement or Standalone or ContentDelivery">
        <patch:attribute name="value">sbgpj9vij08jbxlmyfv2sg7ubzzz6qsu87v061xsr4jbd</patch:attribute>
      </setting>
      

      <!--
        ALLOW LOGOUT OF ALL USERS
            Indicates if the logout screen presents all users or
            just users with the same name
      -->
      <setting name="AllowLogoutOfAllUsers" role:require="ContentManagement or Standalone">
        <patch:attribute name="value">true</patch:attribute>
      </setting>


      <!--   DISABLE BROWSER CACHING
            If true, all pages will have:
              Cache-Control: no-cache, no-store
              Pragma: no-cache
            in the http header
       -->
      <!--NOTE: we are setting this to False for QM so as to stop the no-cache headers being forced on all the media library assets so we can utilise the Vercel Edge Network-->
      <setting name="DisableBrowserCaching">
        <patch:attribute name="value">false</patch:attribute>
      </setting>



      <!--  
          MediaResponse.AlwaysIncludeServerUrl must be true, to always include CDN url when getting media item url.
          Otherwise, the request will not be served by CDN server.
      -->

      <setting name="Media.AlwaysIncludeServerUrl">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!--  
        MediaResponse.MediaLinkServerUrl must be set to url of the CDN endpoint.
        Change it from http://example.com, to the url of the CDN endpoint.
       -->

      <!--<setting name="Media.MediaLinkServerUrl">
        <patch:attribute name="value">http://example.com</patch:attribute>
      </setting>-->

      <!--  
        MediaResponse.AlwaysAppendRevision should be true to always append revision when getting media item url.
        The purpose of the value is to generate a unique URL for every revision.
      -->

      <setting name="Media.AlwaysAppendRevision">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!--  
      MediaResponse.Cacheability must be Public to let the CDN server cache the response.
      Otherwise instead of caching the response, the CDN server will ask for the response from Sitecore server every time. 
      -->

      <setting name="MediaResponse.Cacheability">
        <patch:attribute name="value">Public</patch:attribute>
      </setting>

      <!--  
        The max-age to use in media response headers.
        CDN server uses this value as max-age of the response cache.
      -->

      <setting name="MediaResponse.MaxAge">
        <patch:attribute name="value">7.00:00:00</patch:attribute>
      </setting>



    </settings>
  </sitecore>
</configuration>