@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@model Rio.Hotel.Project.Models._BasePage

@if (Model != null)
{
<div class="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title text-right">
                    <h1 class="margin-auto">@Html.Glass().Editable(Model, f => f.PageTitle)</h1>
                    <p>@Html.Glass().Editable(Model, f => f.PageSubTitle)</p>
                </div>
            </div>
        </div>
    </div>
</div>
}